#root{
  width:100%;
  height:100%;
}
h1,h3,h5,p{
  margin:0;
  padding:0;
  list-style: none;
}
a{
  text-decoration: none;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:100%;
  height:100%;
}
header{
  box-sizing: border-box;
  width:100%;
  height:48px;
  text-align: center;
  background: #e54847;
  border-bottom:1px solid #e54847;
}
header h1{
  font-weight: 400;
  width:100%;
  height:100%;
  line-height:48px;
  color:#fff;
  font-size:18px;
  
}
main{
  height:85.6vh;
}
.main-context{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
}
.download-app-bar{
  box-sizing: border-box;
  width:100%;
  height:64px;
  border-bottom:1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.download-app-bar h1{
  width:44px;
  height:44px;
}
.download-app-bar h1 img{
  width:44px;
  height:44px;
}
.topbar{
  box-sizing: border-box;
  width:100%;
  height:44px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.city-entry-arrow {
  width: 0;
  height: 0;
  border: 4px solid #b0b0b0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  display: inline-block;
  margin-left: 4px;
  margin-top: 5px;
}
.list-wrap{
  height:69.4vh;
  width:100%;
  overflow: scroll;
}
.hot-list-item{
  width:100%;
  height:114px;
  display:flex;
  box-sizing: border-box;
  padding:10px;
}
.item-img{
  width:64px;
  height:90px;
}
.comingList-wrap{
  height:69.4vh;
  width:100%;
  overflow: scroll;
}
.coming-list-item{
  width:100%;
  height:114px;
  display:flex;
  box-sizing: border-box;
  padding:10px;
}
footer{
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  text-align: center;
  height:48px;
  line-height: 48px;
  border-top: 1px solid #d8d8d8;
  
}
.App-link {
  font-size: 18px;
  color:#696969;
}
.App-active{
  color:#f03d37;
}
